.newsletter {
  padding: 2.5em 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.newsletter h3 {
  font-size: 1.5em;
}

.newsletter p {
  font-weight: var(--fw3);
  color: var(--border-color);
  margin: 0.5em 0 1.5em;
}

.newsletter p strong {
  color: var(--primary-color);
}

.newsletter form {
  max-width: 500px;
  width: var(--percent100);
}




@media screen and (min-width: 992px) {
  .newsletter .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}