.breadcrumb {
  font-size: var(--font-small);
  margin-bottom: 2em;
}

.breadcrumb li:not(:last-child)::after {
  content: '/';
  padding: 0 0.35em;
}

.breadcrumb li:last-child {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-text-color);
}

.products.one .item {
  flex-direction: column;
}

.products.one .price .discount {
  font-size: 1em;
  font-weight: var(--fw7);
  line-height: 1;
  position: absolute;
  top: 0;
  bottom: auto;
  padding: 1em;
  z-index: 2;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: var(--percent50);
  margin: 0.5em;
}

.products.one :where(.big-image, .small-image) {
  overflow: hidden;
}

.products.one .big-image {
  position: relative;
  margin-bottom: 1em;
}

.products.one :where(.big-image, .small-image) img {
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.products.one .thumbnail-show { 
  position: relative;
  width: 130px;
  height: 110px;
  overflow: hidden;
  margin: 0 2em 2em 0;
}

.products :is(.swiper-button-next, .swiper-button-prev) {
  outline: 0;
  color: var(--secondary-dark-color);
  transition: var(--trans-background), transform .3s;
}

.products .big-image:hover .swiper-button-next {
  transform: translateX(10px);
}

.products .big-image:hover .swiper-button-prev {
  transform: translateX(-10px);
}

.products :is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 1.5em;
}

.products .big-image:hover :is(.swiper-button-next, .swiper-button-prev){
  background-color: var(--light-bg-color);
}

/*    caracteristica dos produtos   */

.products.one .available{
  font-size: var(--font-small);
  font-weight: var(--fw5);
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 3px;
  color: #10ac84;
  background-color: var(--light-bg-color);
}

.products.one .add-review {
  color: var(--dark-color);
}

.products.one .price{
  display: flex;
  gap: 1;
  align-items: center;
  flex-wrap: wrap;
}

.products.one  .price .current{
  font-size: 2.5em;
}

.products .variant form {
  display: flex;
  margin-top: 0.5em;
}

.products .variant form p {
  position: relative;
  margin: 0 0.5em 0.5em;
}

.products :where(.variant, .actions) .circle {
  display: block;
  position: static;
  top: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.products .variant input {
  clip: rect(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.products .variant label::before {
  opacity: 1;
}
.products .variant label[for="cogrey"]::before {
  background-color: #575674;
}
.products .variant label[for="coblue"]::before {
  background-color: #45a0ff;
}
.products .variant label[for="cogreen"]::before {
  background-color: #1dd1a1;
}

.single-product .variant form p input:checked + label {
  background-color: transparent;
  border: 2px solid var(--dark-color);
  color: var(--white-color);
}

.products .sizes .variant label::before {
  background-color: var(--white-color);
} 

.products .sizes .variant label span {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent100);
  height: var(--percent100);
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product .sizes .variant form p input:checked + label::before {
  background-color: var(--dark-color);
  opacity: 1;
}

.products .actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.products .qty-control {
  width: fit-content;
  padding: 0.5em;
  border: 1px solid var(--border-color);
  margin: 0 2em 2em 0;
}

.products .actions :where(input, button) {
  font-size: 1.25em;
  outline: 0;
  border: 0;
}

.products .actions input {
  width: 50px;
  text-align: center;
}

.products .qty-control button::before {
  background-color: transparent;
}




@media screen and (min-width:468px){
  .products.one .big-image {
    margin-bottom: 2em;
  }
  .products.one .image-show {
    height: 680px;
  }
  .products.one .trumbnail-show {
    height: 160px;
  }
}

@media screen and (min-width:768px){
  .products.one .row {
    flex: 0 0 50%;
    width: 50%;
  }
}